
    
     h1{
    color:blue;
font:50px; 
font-weight:lighter;

 }
 
  .main h1{
   color:rgba(252, 56, 7, 0.904)));
   text-align:center;
   font-weight:normal;

 }
.main img{
  width:800px;
  border-radius: 100%;
  box-sizing:300px;

 

 
 title{
  font-weight:lighter;
 }
 h1.poa{color:blue;}
p.apa{color:blue;
  align:center;
}
video{
  height:300px;
  width:500px;
  border-radius:0cqmax;
}
h4#me{
  color:red;

}